/*
Template Name : ...... Template;
Author: ........;
Version: 1.00;
Date:18/04/18
*/


/*
--------------------------
    CSS Index
--------------------------
    Default Settings
    typhography
    Common specing
    Common Button Css
    all transition Css
    Start Navigation area
    Start Banner type1
    Start Banner type2
    Start About area
    Start Service area
    Start portfolio area
    Start Clients area
    Start experience area
    Start Blog area
    Start Contact area
    Start Footer area
    Start Bradecrumb area
    Start single blog area
    Start Responsive class css
*/


/* --------------------------
    Default Settings
-------------------------- */
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    line-height: 26px;
    font-family: 'Lato', sans-serif;
}
a,
a:hover,
a:focus{
    text-decoration: none !important;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*---typhography---*/

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    line-height: 52px;
    font-weight: 700;
}
h2{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    line-height: 42px;  
}
h3{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    line-height: 38px;  
}
h5{
    font-size: 22px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;   
}
h6{
    font-size: 18px;
    line-height: 28px;
    font-family: 'Lato', sans-serif; 
}
p{  
    font-size: 15px;
    line-height: 26px;
    font-family: 'Lato', sans-serif;
}

/*---Common specing---*/

.ptb-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.ptb-70-100{
    padding-top: 100px;
    padding-bottom: 70px;
}
.ptb-70{
    padding-top: 70px;
    padding-bottom: 70px;
}
.ptb-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-15{
    margin-top: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.pr15{
    padding-right: 15px;
}
.pl15{
    padding-left: 15px;
}
/*---Common Css style---*/
.secondery-bg{
    background: #f2f2f2;
}
.to-uper{
    text-transform: uppercase;
}
.f-w-700{
 font-weight: 700;  
}
.f-w-600{
    font-weight: 600;
}
img{
    max-width: 100%;
}
.width-1-4{
    width: 33%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}
.overlay:after{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,.7);
}
::selection{
    background: rgba(0, 188, 212, .5);
}
/*---Common Button Css---*/
.cmn_btn1 {
    padding: 6px 20px;
    position:  relative;
    background:  transparent;
    border:  1px solid #00BCD4;
    overflow: hidden;
    color: #444;
}

.cmn_btn1:after {
    width: 0;
    height: 20px;
    border: 1px solid #00BCD4;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    content: "";
    background: #00BCD4;
    z-index: -1;
    opacity: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.cmn_btn1:hover:after{
    opacity: 1;
    width: 90%;
    height: 100%
}
.cmn_btn1:hover{
    color: #fff;
}
/*---all transition Css---*/
.cmn_btn1:after,
.sidebar_widget .media-body h6,
.sidebar_widget .tag_list li a,
.sidebar_widget .cata_list li a,
.mynev_bar li.nav-item a,
.portfoli_filter .filter li,
.single_blog_inner,
.service_icon i,
.single_service_area,
.portfolio_text,
.portfolio_text h6,
.single_portfolio_item,
.contact_social_area li a i,
.contact_social_area li a,
.footer_social_area li a{
     transition: .3s all linear;
    -moz-transition: all .30s linear;
    -webkit-transition: all .30s linear;
    -o-transition: all .30s linear;
    -ms-transition: all .30s linear;
}
/*---------------------------------
    Start Navigation area
---------------------------------*/
.nav-item a {
    font-weight: 500;
    color: #444 !important;
    text-transform: uppercase;
}
.nav-stick .mynev_bar li.nav-item.active a {
    color: #00BCD4 !important;
}
.nav-stick .mynev_bar li.nav-item a:hover{
    color: #00BCD4 !important;
}
.sticky_logo{
    visibility: hidden;
    opacity: 0;
}
.nav-stick.nav-barstyle .normal_logo{
    display: none;
}
.nav-stick.nav-barstyle .sticky_logo{
    visibility: visible;
    opacity: 1;
}
li.nav-item {
    margin-right: 10px;
}
.navbar-nav li:last-child{
    margin-right: 0;
}
.navbar {
    position: relative;
    z-index: 100;
}
.nav-stick {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
}
.nav-stick.nav-barstyle{
    background: #fff;
    animation: fadeInDown 1s linear;
    box-shadow: 2px 1px 4px #999;
    opacity: .95;
}
.nav-stick .mynev_bar li.nav-item a {
    color: #fff !important;
}
.nav-stick.nav-barstyle .mynev_bar li.nav-item a {
    color: #000 !important;
}
.nav-stick.nav-barstyle .mynev_bar li.nav-item a:hover{
    color: #00BCD4 !important;
}
.nav-stick.nav-barstyle .mynev_bar li.nav-item.active a {
    color: #00BCD4 !important;
}
/*----------------------------------
        Start Banner type1
----------------------------------*/
.banner_area_type1{
    height: 100vh;
    position: relative;
}
.banner_text_inner {
    height: 350px;
    justify-content: center;
    background: #fff;
    position: relative;
    z-index: 5;
    opacity: .9
}
.type_text #typed {
    font-size: 24px;
    text-transform: capitalize;
    color: #00BCD4;
}
.type_text .typed-cursor {
    font-size: 24px;
    color: #00BCD4;
}
.banner_text_inner h1 {
    margin-bottom: 30px;
}
.banner_batton .cmn_btn1{
    padding: 6px 20px;
}
/*-----------------------------------
    Start Banner type2
-----------------------------------*/
#particles-js{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10
}

.banner_inner_text {
    height: 100vh;
    justify-content: center;
    position: relative;
}
.banner_area_type2{
    position: relative;
}
.banner_inner_text h1 {
    margin-bottom: 25px;
}
.banner_area_type2 .banner_batton a {
    color: #fff;
}
.banner_inner_text h1,
.banner_inner_text p,
.banner_inner_text  a{
    z-index: 30;
    position: relative
}
/*--------------------------------
    Start About area
--------------------------------*/
.sec_heading h2 {
    line-height: 32px;
}
.about_img_inner img{
    border-radius: 50%
}
.sec_heading {
    position:  relative;
}

.sec_heading:before {
    width: 30px;
    height:  1px;
    background:  #00BCD4;
    left: 50%;
    bottom: -15px;
    content:  "";
    position:  absolute;
    transform:  translateX(-50%);
}

.sec_heading:after {
    width: 40px;
    height: 2px;
    background: #00BCD4;
    left: 50%;
    bottom: -19px;
    content: "";
    position: absolute;
    transform: translateX(-50%);
}
.single_progress_content p {
    margin-bottom: 15px;
    font-style: italic;
}
.about_skill_inner .progress-bar{
    background-color: #00BCD4;
}
.about_skill_inner .progress{
    height: 5px;
    border-radius: 0;
}
.about_img_inner img {
    box-shadow: 5px 6px 15px rgba(0,0,0,.2);
}
/*--------------------------------
    Start Service area
--------------------------------*/
.service_icon i {
    font-size: 40px;
    display: block;
    color: #00BCD4;
}
.service_icon{
    margin-bottom: 30px
}
.single_service_area:hover .service_icon i {
    transform: rotateY(180deg);
}
.single_service_area {
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    padding: 40px 15px 40px 15px;
    background: #fff;
    border-radius: 5px;
}
.single_service_area:hover {
    box-shadow: 20px 20px 20px rgba(0,0,0,.2);
}
/*-----------------------------------
    Start portfolio area
-----------------------------------*/
.portfoli_filter .filter li {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid;
    margin-right: 7px;
    cursor: pointer;
    border-radius: 5px;
}
.portfoli_filter .filter li.active{
    background: #00BCD4;
    color: #fff;
}
.portfoli_filter .filter li:hover{
    color: #fff;
    background: #00BCD4;
    border-color: #00BCD4;
}
.portfoli_filter {
    padding-bottom: 50px;
}
.portfoli_filter .filter li:last-child {
    margin-right: 0;
}
.single_portfolio_item{
    position: relative;
    overflow: hidden;
    border-radius: 5px
}
.single_portfolio_item:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}
.portfolio_text {
    position: absolute;
    width: 100%;
    bottom: -35px;
    text-align: center;
    background: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 35px;
    opacity: 0;
    visibility: hidden;
    height: 75px;
}
.single_portfolio_item:hover .portfolio_text {
    visibility:  visible;
    opacity: 1;
    transform: translateY(-35px);
}

.single_portfolio_item:hover .portfolio_text h6 {
    transform: translateY(-15px);
}
.portfolio_text a:hover,
.portfolio_text a{
   color: #00BCD4;
}
/*-------------------------------
    Start Clients area
-------------------------------*/

.clients_area .clients_inner{
    z-index: 5;
    position: relative
    
}
.clients_area .common_heading_inner .sec_heading {
    z-index: 10;
    position: relative;
    color: #fff;
}
.client_image img {
    width: inherit !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 50%;
}
.client_image {
    padding-bottom: 50px;
}
.clients_full_width {
    position: relative;
}
.clients_area .owl-dots {
    position:  relative;
    text-align:  center;
    margin-top: 20px;
}

.clients_area .owl-dot {
    background: #fff !important;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
}
.clients_area .owl-dot.active{
    background: #00BCD4 !important;
}
.clients_area button:focus{
    outline: none
        
}
/*--------------------------------
    Start experience area
--------------------------------*/

.social_name_date {
    width: 130px;
    position: relative;
    float: left;
}
.single_exp_details {
    overflow: hidden;
}
.experience_content {
    position:  relative;
}

.experience_content:hover .exp_icon {
    animation: jello 1s linear;
}
.exp_icon i {
    color: #fff;
}
.exp_icon {
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    background: #00BCD4;
    border-radius: 50%;
    position: relative;
    float: left;
    top: 8px;
}
.single_exp_details h5 {
    padding-left: 40px;
    padding-bottom: 5px;
}

.single_exp_details p {
    margin-left: 40px;
}
/*--------------------------------
    Start Blog area
--------------------------------*/
.blog_top {
    position:  relative;
}

.team_subimage img {
    border-radius:  50%;
}

.team_subimage {
    position:  absolute;
    border: 4px solid #fff;
    border-radius:  50%;
    bottom: -35px;
    left: 50%;
    transform: translateX( -50% );
}

.blog_img img {
    width:  100%;
}
.single_blog_inner {
    box-shadow: 1px 2px 7px rgba(0,0,0,.4);
    border-radius: 5px;
}
.blog_bottom{
    padding-bottom: 30px    
}
.blog_bottom h6 {
    font-size: 16px;
}
.single_blog_inner:hover {
    box-shadow: 20px 20px 20px rgba(0,0,0,.2);
}
.blog_btn {
    margin-top: 20px;
}
.blog_bottom p {
    margin-bottom: 20px;
}
/*----------------------------------
    Start Contact area
----------------------------------*/
.contact_area .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgba(0, 188, 212, 0.50);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.25);
}
.contact_area  .form-control{
    border: 1px solid #495057;
    border-radius: 2;
}
.contact_social_area li {
    display:  inline-block;
    padding: 20px 5px 0px 0;
}
.contact_social_area li a i {
    font-size: 18px;
    color: #00BCD4;
}
.contact_social_area li a {
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center
}
.contact_social_area li:hover a{
    background: #00BCD4;
    
}
.contact_social_area li:hover i{
    color: #fff
}
.contact_social_area:first-child li{
    padding-right: 0;
}

element.style {
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.cmn_btn1:hover {
    color: #fff;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
a, a:hover, a:focus {
    text-decoration: none;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.submit_btn .cmn_btn1 {
    z-index: 2;
    position: relative;
}
.submit_btn .cmn_btn1:hover:after {
    width: 90%;
    z-index: -1;
}
/*-----------------------------
    Start Footer area
-----------------------------*/
.footer_social_area li {
    display:  inline-block;
    padding:  10px;
}

.footer_social_area li a i {
    font-size: 22px;
    color: #fff;
}

.footer_social_area li a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    display: inline-block;
    text-align: center
}
.footer_social_area li:hover a{
    background: #00BCD4;
}
.footer_area{
    background: #111;
}
/*-----------------------------------
    Start Bradecrumb area
-----------------------------------*/
.bradecrumb_area .breadcrumb {
    background-color: transparent;
}
.bradecrumb_area {
    background: url("assets/images/singleblog_bg.webp") no-repeat;
    background-size: cover;
    position: relative;
}
.breadcrumb_list {
    position: relative;
    z-index: 5;
}
.breadcrumb_list .breadcrumb-item a {
    color: #00BCD4;
}
.breadcrumb_heading {
    z-index:  5;
    position:  relative;
}

.breadcrumb_heading h2 {
    color: #fff;
}
.breadcrume_inner {
    display: flex;
    justify-content: space-between;
}
.breadcrumb-item.active {
    color: #fff;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
/*------------------------------------
    Start single blog area
------------------------------------*/
.single_blog_heading {
    padding: 40px 0 30px 0;
}
.single_blog_heading h3 {
    padding-bottom: 10px;
}
.single_blog_heading span{
    color: #00BCD4
}
.comment_heading {
    margin-bottom: 30px;
    margin-top: 5px;
}
.singleblog_inner .media {
    padding: 8px 0 8px 0;
}
.blog_reply_heading {
    padding: 25px 0 30px 0;
}
.single_blog_body .blog_body_list li {
    list-style: circle;
    margin-left: 30px;
}
.single_blog_body  .blog_body_list {
    margin-bottom: 25px;
}
.widget_titel {
    margin-bottom: 30px;
    position: relative
}
.widget_titel:before {
    height: 100%;
    width:  100%;
    content:  "";
    position:  absolute;
    top: 0;
    left:  0;
    background:  #f5f5f5;
    z-index:  -1;
    border-radius:  5px;
}

.widget_titel h5 {
    padding: 10px 0 10px 0;
}

.widget_titel:after {
    content:  "";
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #f5f5f5;
    border-width: 10px;
    margin-left: -10px;

}
.sidebar_widget .media {
    padding: 10px 0 10px 0;
}
.cata_list a {
    display:  block;
    padding:  5px;
    border-bottom: 1px solid #c2c2c2;
    color: #444;
}

.tag_list li {
    display:  inline-block;
}

.tag_list li a {
    display:  block;
    padding: 3px 15px 3px 15px;
    border:  1px solid #c2c2c2;
    margin-bottom: 8px;
    margin-right: 5px;
    color: #444;
    border-radius: 4px;
}
.single_blog_reply .form-control {
    border: none;
    border-bottom: 1px solid;
}

.single_blog_reply .form-control:focus {
    box-shadow: none;
    border-color:  #00BCD4;
}
.comment-metadata {
    position:  relative;
    flex:  1;
}

.comment-meta {
    display: flex;
    position:  relative;
}

a.comment-link {
    position:  absolute;
    right:  0;
    top: 19px;
}
.comment-title {
    padding-top: 20px;
}
.comment-author {
    margin-right: 30px;
}
.comment-body {
    margin-top: 15px;
}
.single-comment {
    padding-bottom: 25px;
    border-bottom: 1px solid #dddddd;
}
.commet_child {
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
.widget_titel h6 {
    padding: 10px;
}
.form-control.myform {
    flex: 1 ;
}
.single_blog_body blockquote {
    background: #f2f2f2;
    padding: 30px;
    border-left: 5px solid #00BCD4;
    font-style: italic;
}
.sidebar_search .btn.btn-outline-success {
    border-radius: 0;
    border-color: #00BCD4;
    background: #00BCD4;
    color: #fff;
}
.sidebar_search .btn.btn-outline-success:active {
    background: #00BCD4;
}
.sidebar_search .form-inline{
    flex-flow: row
}
.sidebar_search .form-control.myform{
    border-radius: 0;
}
.sidebar_widget .cata_list li:hover a {
    color: #00BCD4;
}
.sidebar_widget .tag_list li:hover a {
    background: #00BCD4;
    color: #fff;
    border-color: #00BCD4;
}
.sidebar_widget .media-body h6 {
    color: #444;
    margin-bottom: 5px;
    line-height: 26px;
}
.sidebar_widget .media-body h6:hover{
    color: #00BCD4;
}
.singleblog_inner a.comment-link{
    color: #00BCD4;
}
/*-----------------------------------
    Start Responsive class css
-----------------------------------*/

@media (min-width: 1200px) {
    
}
@media (min-width: 992px) and (max-width: 1199px) {
    .banner_text_inner h1 {
        margin-bottom: 20px;
        font-size: 30px;
    }
    .type_text .typed-cursor,
    .type_text #typed {
        font-size: 22px;
    }
    .sec_heading h2 {
        line-height: 28px;
        font-size: 28px;
    }
    .about_inner h3 {
        font-size: 24px;
    }
    .service_icon i {
        font-size: 35px;
        display: block;
    }
    .single_service_area h5 {
        font-size: 20px;
    }
    .single_exp_details h5 {
        font-size: 19px;
    }
    .blog_bottom h6 {
        font-size: 15px;
    }
    .blog_bottom p {
        font-size: 13px;
    }
    .single_blog_heading h3 {
        font-size: 24px;
    }
    .single_blog_heading {
        padding: 35px 0 25px 0;
    }
    .comment_heading h3 {
        font-size: 22px;
        line-height: 32spx;
    }
    .blog_reply_heading {
        padding: 20px 0 25px 0;
    }
    .blog_reply_heading h3 {
        font-size: 22px;
        line-height: 32px;
    }
    .widget_titel h6 {
        font-size: 17px;
    }
    .banner_inner_text h1 {
        font-size: 40px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .banner_text_inner h1 {
        margin-bottom: 20px;
        font-size: 26px;
    }
    .type_text #typed {
        font-size: 20px;
    }
    .ptb-100{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .ptb-70-100{
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .ptb-70{
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .ptb-50{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .common_heading_inner .sec_heading h2 {
        line-height: 26px;
        font-size: 24px;
    }
    .common_heading_inner p{
        font-size: 14px;
    }
    .about_inner h3 {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        line-height: 32px;
    }
    .about_inner p{
        font-size: 14px;
    }
    .single_progress_content p {
        font-size: 14px;
    }
    .service_icon i {
        font-size: 30px;
    }
    .single_service_area {
        padding: 40px 10px 40px 10px;
    }
    .portfolio_text h6 {
        font-size: 15px;
    }
    .portfolio_text {
        padding-top: 25px;
        height: 50px;
    }
    .single_carousel p {
        font-size: 14px;
    }
    .single_carousel h6 {
        font-size: 17px;
        margin-top: 25px;
    }
    .clients_area .owl-dots {
        margin-top: 15px;
    }
    .single_exp_details h5 {
        padding-left: 35px;
        font-size: 16px;
    }
    .social_name_date {
        width: 110px;
    }
    .exp_icon {
        height: 16px;
        width: 16px;
        line-height: 14px;
    }
    .exp_icon i {
        font-size: 12px;
    }
     .single_exp_details p {
        font-size: 14px;
    }
    .social_name_date p {
        font-size: 14px;
    }
    .blog_bottom h6 {
        font-size: 13px;
    }
    .blog_bottom p {
        font-size: 13px;
    }
    .contact_info_inner p{
        font-size: 14px;
    }
    .breadcrumb_heading {
        padding-left: 15px;
    }
    .breadcrumb_heading h2 {
        font-size: 22px;
    }
    .breadcrumb_list .breadcrumb-item {
        font-size: 14px;
    }
    .single_blog_heading h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .single_blog_heading p {
        font-size: 13px;
    }
    .single_blog_body p {
        font-size: 14px;
    }
    .single_blog_body .blog_body_list li {
        font-size: 14px;
    }
    .comment_heading {
        margin-bottom: 25px;
        margin-top: 0px;
    }
    .comment_heading h3 {
        font-size: 20px;
    }
    .comment_heading {
        margin-bottom: 25px;
        margin-top: 0px;
    }
    .comment_heading h3 {
        font-size: 20px;
        line-height: 32px;
    }
    .comment-title {
        font-size: 16px;
    }
    .comment-author {
        margin-right: 5px;
    }
    .commet_child {
        padding-left: 15px;
    }
    .comment-info {
        font-size: 13px;
    }
    .comment-body p {
        font-size: 14px;
    }
    a.comment-link {
        top: 44px;
    }
    .blog_reply_heading h3 {
        font-size: 20px;
        line-height: 32px;
    }
    .widget_titel h6 {
        font-size: 16px;
    }
    .sidebar_widget .media-body {
        font-size: 14px;
    }
    .sidebar_widget .media-body h6 {
        font-size: 15px;
    }
    .tag_list li a {
        padding: 2px 15px 2px 15px;
        font-size: 14px;
    }
    .single_blog_body blockquote {
        padding: 20px 20px 20px 20px;
        font-size: 14px;
    }
    .single_blog_heading {
        padding: 30px 0 20px 0;
    }
    .banner_inner_text h1 {
        margin-bottom: 15px;
        font-size: 34px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .width-1-4{
        width: 50%;
    }
    .banner_text_inner h1 {
        margin-bottom: 10px;
        font-size: 25px;
    }
    .type_text #typed {
        font-size: 18px;
    }
    .ptb-100{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .ptb-70-100{
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .ptb-70{
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .ptb-50{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .common_heading_inner .sec_heading h2 {
        line-height: 20px;
        font-size: 20px;
    }
    .common_heading_inner p{
       font-size: 14px; 
    }
    .about_inner h3 {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .about_inner p {
        font-size: 14px;
    }
    .single_progress_content p {
        font-size: 14px;
    }
    .service_icon i {
        font-size: 28px;
    }
    .single_service_area h5 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .single_service_area p {
        font-size: 14px;
    }
    .portfolio_text h6 {
        font-size: 15px;
    }
    .portfolio_text {
        padding-top: 28px;
        height: 55px;
    }
    .clients_area .common_heading_inner {
        padding-bottom: 20px;
    }
    .single_carousel p {
        font-size: 14px;
    }
    .single_carousel h6 {
        font-size: 16px;
        margin-top: 18px;
    }
    .clients_area .owl-dots {
        margin-top: 15px;
    }
    .common_heading_inner {
        padding-bottom: 40px;
    }
    .single_exp_details h5 {
        font-size: 16px;
    }
    .single_exp_details p {
        font-size: 14px;
    }
    .exp_icon {
        height: 16px;
        width: 16px;
        line-height: 14px;
    }
    .exp_icon i {
        font-size: 12px;
    }
    .experience_area .common_heading_inner {
        padding-bottom: 20px;
    }
    .blog_bottom h6 {
        font-size: 14px;
    }
    .blog_bottom P {
        font-size: 12px;
    }
    .footer_social_area li a i {
        font-size: 16px;
    }
    .footer_social_area li a {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }
    .footer_content p{
        font-size: 14px;
    }
    .contact_info_inner {
        margin-bottom: 30px;
    }
    .breadcrumb_heading {
        padding-left: 15px;
    }
    .breadcrumb_heading h2 {
        font-size: 18px;
    }
    .breadcrumb_list .breadcrumb-item {
        font-size: 14px;
    }
    .single_blog_heading h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .single_blog_heading p {
        font-size: 13px;
    }
    .single_blog_body p {
        font-size: 14px;
    }
    .single_blog_body .blog_body_list li {
        font-size: 14px;
    }
    .comment_heading {
        margin-bottom: 25px;
        margin-top: 0px;
    }
    .comment_heading h3 {
        font-size: 20px;
    }
    .comment_heading {
        margin-bottom: 25px;
        margin-top: 0px;
    }
    .comment_heading h3 {
        font-size: 20px;
        line-height: 32px;
    }
    .comment-title {
        font-size: 16px;
    }
    .comment-author {
        margin-right: 5px;
    }
    .commet_child {
        padding-left: 15px;
    }
    .comment-info {
        font-size: 13px;
    }
    .comment-body p {
        font-size: 14px;
    }
    a.comment-link {
        top: 44px;
    }
    .blog_reply_heading h3 {
        font-size: 20px;
        line-height: 32px;
    }
    .widget_titel h6 {
        font-size: 16px;
    }
    .sidebar_widget .media-body {
        font-size: 14px;
    }
    .sidebar_widget .media-body h6 {
        font-size: 17px;
    }
    .tag_list li a {
        padding: 2px 15px 2px 15px;
        font-size: 14px;
    }
    .single_blog_body blockquote {
        padding: 20px 20px 20px 20px;
        font-size: 14px;
    }
    .single_blog_heading {
        padding: 30px 0 20px 0;
    }
    .banner_inner_text h1 {
        margin-bottom: 15px;
        font-size: 30px;
    }
    .banner_inner_text p{
        font-size: 15px;
    }
}
@media (max-width: 575px) {
    .banner_text_inner h1 {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 36px;
    }
    .type_text #typed {
        font-size: 14px;
    }
    span.typed-cursor {
        font-size: 14px;
    }
    .ptb-100{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .ptb-70-100{
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .ptb-70{
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .ptb-50{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .sec_heading h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .common_heading_inner p {
        font-size: 14px;
    }
    .about_img_inner {
        margin-bottom: 40px;
    }
    .about_inner h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .about_inner p {
        font-size: 14px;
    }
    .single_service_area h5 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .service_icon i {
        font-size: 24px;
    }
    .single_service_area p {
        font-size: 14px;
    }
    .width-1-4{
        width: 100%;
    }
    .portfoli_filter .filter li {
        margin-bottom: 10px;
    }
    .portfolio_text {
        padding-top: 30px;
        height: 60px;
    }
    .portfolio_text h6 {
        font-size: 16px;
    }
    .client_image {
        padding-bottom: 35px;
    }
    .single_carousel p {
        font-size: 14px;
    }
    .single_carousel h6 {
        font-size: 15px;
        margin-top: 15px;
    }
    .clients_area .owl-dots {
        margin-top: 0px;
    }
    .common_heading_inner {
        padding-bottom: 35px;
    }
    .social_name_date {
        width: 95px;
    }
    .single_exp_details h5 {
        font-size: 16px;
    }
    .single_exp_details p {
        font-size: 14px;
    }
    .blog_bottom p {
        margin-bottom: 20px;
        font-size: 12px;
    }
    .blog_bottom h6 {
        font-size: 14px;
    }
    .social_name_date p {
        font-size: 13px;
    }
    .contact_info p {
            font-size: 14px;
            margin-top: 0;
        }
    .contact_info_inner {
        margin-bottom: 30px;
    }
    .sec_heading h2 {
        line-height: 20px;
    }
    .footer_social_area li a i {
        font-size: 16px;
    }
    .footer_social_area li a {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }
    .footer_content p{
        font-size: 13px;
    }
    #scrolltop {
        right: 0px !important;
        font-size: 14px;
        font-weight: 600
    }
    #scrolldown {
        right: 8px;
        font-size: 14px;
        font-weight: 600
    }
    .single_progress_content p {
        font-size: 13px;
    }
    .exp_icon {
        height: 16px;
        width: 16px;
        line-height: 14px;
    }
    .exp_icon i {
        font-size: 12px;
    }
    .breadcrumb_heading {
        padding-left: 15px;
    }
    .breadcrumb_heading h2 {
        font-size: 16px;
    }
    .breadcrumb_list .breadcrumb-item {
        font-size: 12px;
    }
    .single_blog_heading h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .single_blog_heading p {
        font-size: 13px;
    }
    .single_blog_body p {
        font-size: 14px;
    }
    .single_blog_body .blog_body_list li {
        font-size: 14px;
    }
    .comment_heading {
        margin-bottom: 25px;
        margin-top: 0px;
    }
    .comment_heading h3 {
        font-size: 20px;
    }
    .comment_heading {
        margin-bottom: 25px;
        margin-top: 0px;
    }
    .comment_heading h3 {
        font-size: 20px;
        line-height: 32px;
    }
    .comment-title {
        font-size: 16px;
    }
    .comment-author {
        margin-right: 5px;
    }
    .commet_child {
        padding-left: 15px;
    }
    .comment-info {
        font-size: 13px;
    }
    .comment-body p {
        font-size: 14px;
    }
    a.comment-link {
        top: 44px;
    }
    .blog_reply_heading h3 {
        font-size: 20px;
        line-height: 32px;
    }
    .widget_titel h6 {
        font-size: 16px;
    }
    .sidebar_widget .media-body {
        font-size: 14px;
    }
    .sidebar_widget .media-body h6 {
        font-size: 17px;
    }
    .tag_list li a {
        padding: 2px 15px 2px 15px;
        font-size: 14px;
    }
    .single_blog_body blockquote {
        padding: 20px 20px 20px 20px;
        font-size: 14px;
    }
    .single_blog_heading {
        padding: 30px 0 20px 0;
    }
    .banner_inner_text h1 {
        margin-bottom: 15px;
        font-size: 28px;
    }
    .banner_inner_text p{
        font-size: 15px;
    }
}
/*-----------------------------------------
    End Responsive class css
-----------------------------------------*/
/*-- scroll area---*/

#scrolltop {
    position:  fixed;
    color:  #00BCD4;
    transform: rotate(-90deg);
    top: 400px;
    right: 40px;
}
#scrolldown {
    position:  fixed;
    color:  #00BCD4;
    transform: rotate(-90deg);
    top: 500px;
    right: 48px;
}

.scrolltop:after {
    position:  absolute;
    content:  "";
    height: 51px;
    width:  1px;
    right: 112px;
    top: -10px;
    background: #00BCD4;
    transform: rotate(90deg);
}
.scrolldown:before {
    position: absolute;
    content: "";
    height: 51px;
    width: 1px;
    right: 112px;
    top: -10px;
    background: #00BCD4;
    transform: rotate(90deg);
    left: 96px;
    top: -11px;
}